.article {
    opacity: 0;
    transition: opacity 250ms ease-in;
    padding-top: 15px;
}

.article.appear {
    opacity: 1; 
}

.article__header {
    font-size: 25px;
}

.article__paragraph {
    font-size: 22px;
	line-height: 1.5em;
    margin: 30px 0;
}

.article__numbers {
    font-family: serif;
    font-size: 21px;
}

.article__map {
    width: 100%;
    max-width: 1500px;
    height: 300px;
    margin: 30px 0 30px;
}

@media (max-width: 550px) {
    .article__map {
        width: 280px;
    }
}

.article__link {
    text-decoration: none;
    color: #e7ad00;
}

.article__link:hover {
    color: hsl(0, 0%, 50%);
}

.article__link:active {
    color: black;
}