.article {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.article.appear {
    opacity: 1; 
}

.article__header {
    font-size: 30px;
}

.article__paragraph{
    font-size: 22px;
	line-height: 1.5em;
}