.article {
    padding-top: 15px;
}

.article__header {
    font-size: 25px;
    text-transform: uppercase;
}

@media (max-width: 517px) {
    .article__header {
        font-size: 20px;
    }
}

.article__paragraph {
    font-size: 22px;
	line-height: 1.5em;
    margin: 30px 0;
}

.article__numbers {
    font-family: serif;
    font-size: 21px;
}

.article__mapContainer {
    border: 10px double black;
    margin: 30px 0;
}

.article__map {
    width: 100%;
    max-width: 1500px;
    height: 300px;
    margin: 30px 0 30px;
    margin: 0;
}


.article__link {
    text-decoration: none;
    color: #e7ad00;
}

.article__link:hover {
    color: hsl(0, 0%, 50%);
}

.article__link:active {
    color: black;
}

.article__image {
    max-height: 500px;
    border: 10px double black;
}

@media (max-width:500px) {
    .article__image {
        max-width: 300px;
    }
}

@media (max-width: 425px) {
    .article__image {
        max-width: 250px;
    }
}
@media (max-width: 375px) {
    .article__image {
        max-width: 200px;
    }
}


.article--grid {
    padding-right: 50px;
}

@media (max-width: 1024px) {
    .article--grid {
        padding-right: 0px;
    }
}

@media (max-width: 1024px) {
    .article__imageContainer {
        justify-self: center;
    }
}