.header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	margin: 0 60px;
}

.header__title {
	padding-left: 20px;
	font-size: 55px;
}

.header__logo {
	max-width: 150px;
	margin-right: 20px;
	flex-shrink: 0;
}
