.header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	margin: 10px 60px 0px;
}

@media (max-width: 550px) {
	.header {
		margin: 15px 10px 5px;
	}
}

.header__title {
	padding-left: 20px;
	font-size: 45px;
	letter-spacing: 1.3px;
}

@media (max-width: 550px) {
	.header__title {
		padding-left: 10px;
		font-size: 40px;
		letter-spacing: 1px;
	}
}

@media (max-width: 450px) {
	.header__title {
		padding-left: 10px;
		font-size: 30px;
		letter-spacing: 1px;
	}
}

.header__logo {
	max-width: 140px;
	margin-right: 20px;
	flex-shrink: 0;
}

@media (max-width: 550px) {
	.header__logo {
		max-width: 100px;
		margin-right: 5px;
	}
}

