.navigation {
	padding-right: 0;
	border-top: 1px solid hsl(0 0% 70% / 1);
	border-bottom: 1px solid hsl(0 0% 70% / 1);
}

.navigation__list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	list-style: none;
	justify-items: center;
	align-items: center;
	font: 20px bold;
    margin: 0;
}

.navigation__item {
    text-transform: uppercase;
	transition: 0.3s;
}

.navigation__item:hover {
    transform: scale(1.1);
}

.navigation__item--special {
	background: #aed3e2;
	padding: 15px;
}

