.section {
	margin: 0 60px;
}

.section--first {
    margin-top: 110px;
}

@media (max-width: 1024px) {
	.section--first {
        margin-top: 200px;
	}
}

@media (max-width: 767px) {
	.section--first {
		margin-top: 250px;
	}
}

@media (max-width: 550px) {
	.section--first {
		margin-top: 200px;
	}
}

.section--second {
	background-color:  #ffbf00;
	margin: 0;
	padding: 20px 60px;
	color: white;
}

.section--third {
	background-color:  hsl(0, 0%, 96%);
	margin: 0;
	padding: 20px 60px;
}

.section__banner {
	background-size: auto;
    margin: 20px 0;
    box-shadow: 0px 8px 25px -5px hsl(0 0% 70% / 1);
	margin: 40px 0;
	max-width: 100%;
}

@media (max-width: 550px) {
    .section__banner {
	  max-width: 100%;
    }
}

.section__image {
	max-width: 300px;
}

@media (max-width: 550px) {
    .section__image {
	  max-width: 200px;
    }
}

.section__element {
	text-align: center;
    transition: 0.5s;
	position: absolute;
	top: 350px;
	right: 50px;
}

@media (max-width: 550px) {
	.section__element {
		top: 470px;
		right: 25px;
	}
}

.section__element:hover {
    transform: scale(1.05);
}

.section__header {
	font-size: 30px;
}

.section__header--special {
	font-size: 30px;
	font-weight: normal;
	font-style: italic;
	margin: 5px;
}

.section__paragraph {
    font-size: 22px;
	line-height: 1.5em;
}

.section__list {
	line-height: 1.5em;
}

.section__item {
    font-size: 20px;
}
