.section {
	margin: 0 60px;
}

.section--first {
    margin: 110px 0 0;
	padding: 0 60px 20px ;
	background-color:  hsl(0, 0%, 96%);
}

@media (max-width: 1024px) {
	.section--first {
        margin-top: 200px;
	}
}

@media (max-width: 767px) {
	.section--first {
		margin-top: 250px;
	}
}

@media (max-width: 550px) {
	.section--first {
		margin-top: 100px;
	}
}

.section--second {
	background-color: white;
    padding: 0 60px 20px ;
	margin: 0;
}

.section--third {
	background-color:  hsl(0, 0%, 96%);
	margin: 0;
	padding: 20px 60px;
}

.section__banner {
	background-size: auto;
    box-shadow: 0px 8px 25px -5px hsl(0 0% 70% / 1);
	margin: 40px 0 0;
	max-width: 100%;
}

@media (max-width: 550px) {
    .section__banner {
	  max-width: 100%;
    }
}

.section__image {
	max-width: 300px;
	border-radius: 50%;
	box-shadow: 0px 8px 25px -5px hsl(0 0% 70% / 1);
}

@media (max-width: 550px) {
    .section__image {
	  max-width: 200px;
    }
}

.section__element {
	text-align: center;
    transition: 0.5s;
	position: absolute;
	top: 350px;
	right: 50px;
}

@media (max-width: 550px) {
	.section__element {
		top: 470px;
		right: 25px;
	}
}

@media (max-width: 450px) {
	.section__element {
		top: 400px;
		right: 15px;
	}
}

.section__element:hover {
    transform: scale(1.05);
}


.section__header {
	font-size: 35px;
	color: #e7ad00;
	overflow: hidden;
    text-align: center;
}

.section__header::before, .section__header::after {
	border-top: 1px solid #252525;
	border-bottom: 1px solid #3f3f3f;
    content: "";
    display: inline-block;
    height: 4px;
	background-color: #eee;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.section__header::before {
	right: 0.5em;
    margin-left: -50%;
}

.section__header::after {
	left: 0.5em;
    margin-right: -50%;
}


.section__header--special {
	font-size: 30px;
	font-weight: normal;
	font-style: italic;
	margin: 5px;
}

.section__header--third {
	color: #e7ad00;
}

@media (max-width: 450px) {
	.section__header--special {
		font-size: 20px;
	}
}

.section__paragraph {
    font-size: 22px;
	line-height: 1.5em;
	margin: 30px 0;
}

.section__paragraph--special {
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	margin: 20px 60px 0;
}

.section__list {
	line-height: 1.5em;
}

.section__item {
    font-size: 20px;
}

.section--fourth {
    margin: 0;
	padding: 20px 60px;
}

.section__tableContainer {
	overflow-x: auto;
	margin: auto;
}
