html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}

body {
	font-family: "Cormorant Garamond", serif;
	background-color: hsl(0, 0%, 93%);
}

.numbers {
	font-family: serif;
	font-size: 21px;
}